[
    {
        "scope": "https://prepmod.doh.wa.gov:443",
        "method": "GET",
        "path": "/api/smart-scheduling-links/$bulk-publish",
        "body": "",
        "status": 200,
        "response": {
            "transactionTime": "2021-09-01T21:56:12+00:00",
            "request": "https://prepmod.doh.wa.gov/api/smart-scheduling-links/$bulk-publish",
            "output": [
                {
                    "type": "Location",
                    "url": "https://prepmod.doh.wa.gov/api/smart-scheduling-links/locations.ndjson?locale=en"
                },
                {
                    "type": "Schedule",
                    "url": "https://prepmod.doh.wa.gov/api/smart-scheduling-links/schedules.ndjson?locale=en"
                },
                {
                    "type": "Slot",
                    "url": "https://prepmod.doh.wa.gov/api/smart-scheduling-links/slots-a475ff88d4e0bb9ee1fc09040d45f5cb.ndjson?locale=en"
                },
                {
                    "type": "Slot",
                    "url": "https://prepmod.doh.wa.gov/api/smart-scheduling-links/slots-a23fd81af085c8a37c707b7ba929a78f.ndjson?locale=en"
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "chunked",
            "close",
            "SAMEORIGIN",
            "1; mode=block",
            "nosniff",
            "noopen",
            "none",
            "strict-origin-when-cross-origin",
            "no-cache, no-store",
            "no-cache",
            "0",
            "etag",
            "W/\"ea8bcfe1d1705110434a192212bd2814\"",
            "7d1b9bf8-108e-4f77-a041-60aaf73a5604",
            "0.445796",
            "max-age=31536000; includeSubDomains",
            "449",
            "Wed, 01 Sep 2021 21:56:12 GMT",
            "envoy",
            "Miss from cloudfront",
            "1.1 e9ba0a9a729ff2960a04323bf1833df8.cloudfront.net (CloudFront)",
            "SFO5-C3",
            "OS984gEpBTDvYkMV0uVWI3O6Ozwm8_F3WtKLx0yeUs4oaA_ijtMAGQ=="
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://prepmod.doh.wa.gov:443",
        "method": "GET",
        "path": "/api/smart-scheduling-links/locations.ndjson?locale=en",
        "body": "",
        "status": 200,
        "response": "{\"id\":\"a475ff88d4e0bb9ee1fc09040d45f5cb\",\"resourceType\":\"Location\",\"name\":\"Walla Walla Mobile Units\",\"telecom\":[{\"system\":\"phone\",\"value\":\"509-730-3669\"},{\"system\":\"url\",\"value\":\"https://prepmod.doh.wa.gov//?locale=en\"}],\"address\":{\"line\":[\"500 Tausick Way\"],\"city\":\"Walla Walla\",\"state\":\"WA\",\"postalCode\":\"99362\",\"district\":\"Walla Walla\"},\"identifier\":[{\"system\":\"urn:https://prepmod-doh-wa-gov/:prepmod:clinic\",\"value\":\"6320\"}],\"position\":{\"latitude\":46.0763689,\"longitude\":-118.2838519}}\n{\"id\":\"a23fd81af085c8a37c707b7ba929a78f\",\"resourceType\":\"Location\",\"name\":\"Yakima County Health District COVID Vaccination Site\",\"telecom\":[{\"system\":\"url\",\"value\":\"https://prepmod.doh.wa.gov//?locale=en\"}],\"address\":{\"line\":[\"2010 Yakima Valley Highway\"],\"city\":\"Sunnyside\",\"state\":\"WA\",\"postalCode\":\"98944\",\"district\":\"Yakima\"},\"identifier\":[{\"system\":\"urn:https://prepmod-doh-wa-gov/:prepmod:clinic\",\"value\":\"7889\"},{\"system\"[...]
    {
        "scope": "https://prepmod.doh.wa.gov:443",
        "method": "GET",
        "path": "/api/smart-scheduling-links/schedules.ndjson?locale=en",
        "body": "",
        "status": 200,
        "response": "{\"id\":\"a475ff88d4e0bb9ee1fc09040d45f5cb\",\"actor\":[{\"reference\":\"Location/a475ff88d4e0bb9ee1fc09040d45f5cb\"}],\"resourceType\":\"Schedule\",\"serviceType\":[{\"coding\":[{\"system\":\"http://terminology.hl7.org/CodeSystem/service-type\",\"code\":\"57\",\"display\":\"Immunization\"},{\"system\":\"http://fhir-registry.smarthealthit.org/CodeSystem/service-type\",\"code\":\"covid19-immunization\",\"display\":\"COVID-19 Immunization Appointment\"}]}],\"extension\":[{\"url\":\"http://fhir-registry.smarthealthit.org/StructureDefinition/vaccine-product\",\"valueCoding\":{\"system\":\"http://hl7.org/fhir/sid/cvx\",\"code\":null,\"display\":\"Janssen COVID-19 Vaccine\"}},{\"url\":\"http://fhir-registry.smarthealthit.org/StructureDefinition/vaccine-product\",\"valueCoding\":{\"system\":\"http://hl7.org/fhir/sid/cvx\",\"code\":null,\"display\":\"Pfizer-BioNTech COVID-19 Vaccine\"}}]}\n{\"id\":\"a23fd81af085c8a37c707b7ba929a78f\",\"actor\":[{\"reference\":\"Location/a23fd81af085c8a37c707b7ba929a78f\"}],\"resourceType\":\"Schedule\",\"serviceType\":[{\"coding\":[{\"s[...]
    {
        "scope": "https://prepmod.doh.wa.gov:443",
        "method": "GET",
        "path": "/api/smart-scheduling-links/slots-a475ff88d4e0bb9ee1fc09040d45f5cb.ndjson?locale=en",
        "body": "",
        "status": 200,
        "response": "{\"id\":\"a475ff88d4e0bb9ee1fc09040d45f5cb-20210913T0900000800\",\"resourceType\":\"Slot\",\"schedule\":{\"reference\":\"Schedule/a475ff88d4e0bb9ee1fc09040d45f5cb\"},\"status\":\"free\",\"start\":\"2021-09-13T09:00:00.000-08:00\",\"end\":\"2021-09-13T09:09:00.000-08:00\",\"extension\":[{\"url\":\"http://fhir-registry.smarthealthit.org/StructureDefinition/booking-deep-link\",\"valueUrl\":\"https://prepmod.doh.wa.gov//appointment/en/client/registration?clinic_id=6320\"},{\"url\":\"http://fhir-registry.smarthealthit.org/StructureDefinition/slot-capacity\",\"valueInteger\":4}]}\n{\"id\":\"a475ff88d4e0bb9ee1fc09040d45f5cb-20210913T0909000800\",\"resourceType\":\"Slot\",\"schedule\":{\"reference\":\"Schedule/a475ff88d4e0bb9ee1fc09040d45f5cb\"},\"status\":\"free\",\"start\":\"2021-09-13T09:09:00.000-08:00\",\"end\":\"2021-09-13T09:18:00.000-08:00\",\"extension\":[{\"url\":\"http://fhir-registry.smarthealthit.org/StructureDefinition/booking-deep-link\",\"valueUrl\":\"https://prepmod.doh.wa.gov//appointment/en/client/registration?clinic_id=6320\"},{\"url\":\"http://fhi[...]
[...]
