.filter-bar {
  padding: 0.5rem 0.5rem;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}

.filter-bar label {
  display: inline-block;
  margin-right: 1rem;
}

@media screen and (min-width: 42rem) {
  .filter-bar .filter--search {
    align-items: baseline;
    display: inline-flex;
    width: 30%;
  }

  .filter-bar .filter--search input {
    flex: 1 1 auto;
    margin-left: 0.25em;
    width: 2rem;
  }
}

@media print {
  .filter-bar {
    display: none;
  }
}
