.location-list-item {
  display: flex;
  border-top: 1px solid #ddd;
}

.list-availability {
  font-weight: bold;
  text-align: center;
  width: 10em;
  padding: 0.75rem 0.375rem;
  flex: 0 0 auto;
}

.list-availability > * {
  display: block;
}

.availability-icon {
  text-align: center;
  font-size: 2em;
}

.list-availability.availability-no {
  background: var(--color-availability-no);
}

.list-availability.availability-yes {
  background: var(--color-availability-yes);
}

.list-availability.availability-unknown {
  background: var(--color-availability-unknown);
}

.availability-text {
  margin-top: 0.25rem;
}

.list-location-info {
  margin-left: 1em;
  padding: 0.75rem 0.375rem;
}

.list-location-name {
  margin: 0;
}

.location-list-item header {
  margin: 0 0 0.5rem;
}

.location-list-item h2 {
  display: inline;
}

.indicator-mass-vax {
  display: inline-block;
  vertical-align: bottom;
  background-color: rgba(254, 235, 200, 1);
  color: rgba(221, 107, 32, 1);
  padding: 0.25rem;
  margin-left: 0.5rem;
  border-radius: 4px;
}

.location-info--booking {
  margin: 1em 0;
}

#appointment-finder-root .location-info--booking-link {
  background: var(--primary-blue);
  padding: 0.5em;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 30rem) {
  .list-availability {
    font-size: 0.6rem;
  }
}

@media print {
  .availability.availability-unknown:before,
  .availability.availability-unknowable:before {
    content: "Unknown";
  }
}

@media screen {
  .availability.availability-unknown:before,
  .availability.availability-unknowable:before {
    content: "?";
  }
}
